[2021-12-26 08:48] johannwilken opened #1 "Error rendering data template: Result is not a Dictionary"
Good day,

I would like to use your script and would love to get it to work:

I have changed media players to my entities. When trying to run the script
I'm getting error: Error rendering data template: Result is not a Dictionary

Here are the full error:

Logger: homeassistant.components.websocket_api.http.connection
Source: helpers/service.py:238
Integration: Home Assistant WebSocket API (docume

[2021-12-26 08:54] johannwilken commented on #1
Here are another error in the logs:

Logger: homeassistant.helpers.template
Source: helpers/template.py:1779
First occurred: 10:28:05 AM (8 occurrences)
Last logged: 10:29:30 AM

Template variable warning: 'tts_target' is undefined when rendering '{% if voice_tts_target is defined %} {{ [ voice_tts_target ] }} {% else %} {% set tts_list = tts_target.replace(' ' , '').split(',') if tts_target is st

[2021-12-26 09:02] TheFes commented on #1
Do you try to run the script from configuration > scripts? It doesn't work like that, you need to provide information, like to which device it should be sent, and which message should be sent.

You should call this script from another script or automation, or from your dashboard, providing this data.

Have a look at the detailed description and prerequisites here: https://community.home-assistant.

[2021-12-26 09:15] johannwilken commented on #1
Sorry, My bad. All working, I only had to change the tts service to tts.google_translate_say.

Thanks man, this is awesome, thanks for putting in the time to write this script. I have been looking for something
like this for I don't know how long.

And thanks for the quick reply aswell.

Hope you have a great festive season and a great 2022.

[2021-12-26 09:15] #1 closed

[2021-12-26 21:40] TheFes commented on #1
Good to hear, happy holidays for you as well!

[2021-12-27 12:04] johannwilken opened #2 "Multiple Spotcast accounts and media_player.group"
Good day Fes,

Sorry for bugging you again. This is not urgent, but I have 2 questions:

1. When playing 1 spotcast account per speaker at a time it works 100% and resumes with the spotcast account that was playing. When Playing music from 2 spotcast accounts on 2 media players, when notification plays and the music resumes it only resumes on the default spotcast account on the last speaker the sc

[2021-12-27 18:57] TheFes commented on #2
Hi,

Could you share a trace from when it does not work properly? Both multiple spotcast accounts, and resuming of speaker groups should work.

You can go to Configuration > Automation & Scenes > Scripts and then press the button with the clock with the arrow around it to open the debug trace. In the top right corner there is a download buttoen.

You can attach it to your reply by dragging it on t

[2021-12-28 14:10] johannwilken commented on #2
Hi Fes,

Thanks for your reply.

Screenshot 1:

Spotcast to media_player.group. Only one speaker resume.

Screenshot2:

2 Spotcast accounts to 2 speakers. Only one resume, but with the music that was playing on the speaker that didn't resume.
![Screenshot 1(media_player group)](https://user-images.githubusercontent.com/65971874/147574701-8c148d45-0a9e-431b-a173-558315968679.png)
![Screenshot 2(2 s

[2021-12-28 14:19] johannwilken commented on #2
Hare are the screenshots of the edited Script and script calls from node-red.

![edited Script ](https://user-images.githubusercontent.com/65971874/147575479-2833cf51-53df-4933-b9a4-11c028d7a6f8.png)
![Node-Red Script call for master bedroom speaker](https://user-images.githubusercontent.com/65971874/147575486-47c5485b-6e2f-4448-b9b5-67d0cf5b26cf.png)
![Node-Red Script call for kitchen display](ht

[2021-12-28 18:40] TheFes commented on #2
Sorry, could you download the trace and upload it? After pressing the download button you should get a json file

[2021-12-29 04:50] johannwilken commented on #2
Good morning Fes,

Herewith the json files. Thank you for your time

[json.zip](https://github.com/TheFes/HA-configuration/files/7787362/json.zip)
.

[2021-12-29 18:50] TheFes commented on #2
Are you sure the `spotify_media_players` are set up correct?
I can see in the trace it determined correctly that Spotify was playing, but it could not retrieve any information from the players:
`"spotify_players_info": []`

What do you get when you search for `media_player.spotify` in developer tools > states

This is what I get, and this matches my `spotify_media_players` setting
![Screenshot_202

[2021-12-30 04:39] johannwilken commented on #2
Good morning Fes,

Herewith screenshots of my config and media players. Is it setup right?

I am able to  spotcast from any of the two accounts with no problems. Each spotcast account points to its own spotify developers app.

Thank you and hope you have a great day

![Spotify and Spotcast Config](https://user-images.githubusercontent.com/65971874/147722145-02c9474a-f1d1-4393-8414-896199f60e11.PNG

[2021-12-30 08:51] TheFes commented on #2
Thanks for the information.
I did see there was something wrong with the template which determines which spotcast account should be used. I also did not take into account that the spotcast account could consist of two parts.
I will fix that when I find some time. Maybe this evening or tomorrow, otherwise Monday.

However, that doesn't explain why the spotify_player_info returns an empty list.
Coul

[2021-12-30 09:03] johannwilken commented on #2
Hi Fes,

Herewith the screenshots.

2 Accounts on 2 speakers:
![2 spotify accounts on 2 speakers](https://user-images.githubusercontent.com/65971874/147737166-a8d65b4d-8d8a-44f5-b84e-b8287caaba8f.PNG)

Playing to media_player.group:

Only displaying 1 speaker (spotcast to media_player.wilken_speakers)
![1 spotcast account playing to media_player group](https://user-images.githubusercontent.com/659

[2021-12-30 09:24] TheFes commented on #2
Okay, this is as expected.
Then I do wonder why the list was empty in your trace, as it used the exact same template.

Let's try again after I corrected the template for the spotcast account. Will get back to you asap

[2021-12-30 09:37] johannwilken commented on #2
Thank you Fes,. No hurry, only when you have time.

[2021-12-31 14:33] TheFes commented on #2
Made a couple of changes:
* Fixed some bugs in template to determine spotcast account
* Removed the `spotify_media_players` variable as it was not used anyway

Can you test if it works now? Please note it takes a short time before the Spotify media_players are updated, and actually show that they are playing. So don't start the script immediately after you started the Spotify stream. If you want t

[2021-12-31 15:37] johannwilken commented on #2
Hi Fes,

Happy new year to you and your family.

I'm just sending findings as I'm testing, please enjoy new year first.

Test 1:
Playing with 2 spotcast accounts to 2 speakers.
MB speaker - was playing with media_player.spotify_johann_wilken
Kitchen display - was playing with media_player.spotify_elandi

After script run:

MB speaker - did not resume
Kitchen display - resumed with media_player.spo

[2021-12-31 19:02] TheFes commented on #2
Thanks for testing and providing the traces.
This will be something for next year, we're in the last hours of 2021 here.

Happy New Year for you and your family as well!

[2022-01-01 19:23] TheFes commented on #2
Hi,

I've looked into your test files:

1)
Your 'speaker_groups` variable is not set up correct. You have:
[code]
But the group is not called `media_player.huis_groep`, but apparantly `media_player.wilken_speakers`
And there seems to be a typo in 'media_player.mater_bedroom_speaker`

Seccondly, your spotcast integration doesn't seem to be set up like you provided in the script.
It should be like t

[2022-01-01 20:28] TheFes commented on #2
Oh sorry, you already provided the spotcast settings on an earlier post.
Your primary spotcast account indeed appears to be the account of Johan.
As the spotify media player belonging to that account ends with `johan_wilken` you should use that as `primary_spotcast`

[2022-01-02 04:20] johannwilken commented on #2
Good Morning Fes,

Hope you and your Family had a great New Years?

Thank you for the reply.

Sorry for the edited. I forgot that when I tested to see if I can make it work, I changed those options.

I tested now with the changes you suggested and its working like a charm. Only One
scenario still an issue:

When casting to media_player.wilken_speakers (Google home created group), the script run an

[2022-01-02 13:39] TheFes commented on #2
It should, could you provide the json for this test scenario?

[2022-01-02 13:58] johannwilken commented on #2
Hi Fes,

Herewith screenshots and json files.

Before script run:
![Developers - Template](https://user-images.githubusercontent.com/65971874/147878100-37a35bf9-f809-4689-a1f0-bfcac80a7fd9.JPG)
![active mediaplayers](https://user-images.githubusercontent.com/65971874/147878103-2b254210-7784-47b2-b409-e516083e433e.JPG)

After Script run:

![Developers - Template after script run](https://user-image

[2022-01-02 14:56] TheFes commented on #2
It seems you missed the part about the speaker group in my previous comment:

You know have:
[code]

You should have:
[code]

[2022-01-02 15:12] johannwilken commented on #2
Hi Fes,

Changed media_player.wilken_speakers and now the music doesn't resume at all.

![Script config](https://user-images.githubusercontent.com/65971874/147880069-b4337c9e-b911-4afd-9918-7269dec16b3a.JPG)

[json files.zip](https://github.com/TheFes/HA-configuration/files/7799256/json.files.zip)

Thank you

[2022-01-02 15:37] johannwilken commented on #2
Hi Fes,

I have run test again, got a different error from my last previous post. Now it has a reference to
the media_player.wilken_speakers group.

[New json files.zip](https://github.com/TheFes/HA-configuration/files/7799309/New.json.files.zip)

The kitchen_display shows the spotify logo but doesn't play anything. When the casting a single account to any 1 of the 2 speakers, the group continue b

[2022-01-02 20:15] TheFes commented on #2
Hi,

The script now does what it's supposed to. The error mentioned in the script is caused by spotcast.
I can see the friendly name of the group entity is `Wilken Speakers`. Is it also named like that in the Google Home app? Because they need to be exactly the same.

You could install the spotcast sensor, and see what it returns. Does it show your speaker group in there?
https://github.com/fondbe

[2022-01-03 16:20] johannwilken commented on #2
Hi Fes,

The name of the group is the same:

![Screenshot_20220102-222316_Home](https://user-images.githubusercontent.com/65971874/147953215-749385e5-7706-46c5-85cc-1f1a3d1c8b56.jpg)

Sensor - Chromecast devices:

![sensor - chromecast devices](https://user-images.githubusercontent.com/65971874/147954061-c38dca1e-44c7-40ad-9ffe-aba99105ab08.PNG)

Anything else I must try?

Thank you

[2022-01-04 19:58] TheFes commented on #2
I don't  see anything strange with the group or the sensor data.

Does it also give the same error when you go to Developer Tools > Services and then provide the following service data in YAML mode:
[code]

If I try that with a speaker group it works fine.

If that also doesn't work for you, you can maybe try to recreate the speaker group in the Google Home app, and check if that helps. Or create

[2022-01-05 03:51] johannwilken commented on #2
Good morning Fes,

Hope you have a great week so far?

I have actually setup transfer music based on room presence just yesterday. I have tried the force__playback to the group and that works 100%.

Rerun the script and same issue before. The speakers group goes on, but doesn't resume.

Then I tested by only calling the script to 1 speaker and after the tts message the group resumes. It seems the

[2022-01-05 18:51] TheFes commented on #2
Aaaah, now I finally understand why you keep sending 2 json files for each test case, you run the script twice, once for every speaker.

You don't have to do that, you can provide a list of tts_targets
[code]

And, because you apparantly set `speaker_group_split` to `True`, you will achieve exactly the same result when you use the speaker group as target, as with that setting, it will send the tts

[2022-01-06 15:38] TheFes commented on #2
I just published a change which makes resuming non playing entities a lot faster, if you update to this version `restore_volume_all` and `volume_non_playing` are depreciated. Volume restore of non playing entities will only result in a delay of 0.25 seconds, so I did not see the point in making settings for this, it is now always done in case there are non playing entities.

So in that case you ca

[2022-01-06 17:17] johannwilken commented on #2
Hi Fes,

I have updated the script to the latest config. Here is my findings:
Sorrry for all the test, but wants to give you enough info as possible

**Multiple media players:**
![Trigger config](https://user-images.githubusercontent.com/65971874/148423270-a93d25c1-02c3-4645-933b-8846662acf6f.JPG)

Test 1:
johann_wilken on master_bedroom_speaker - resumes 100%

Test 2:
johann_wilken on kitchen_dis

[2022-01-06 19:28] TheFes commented on #2
I'll look into it tomorrow, basically all this should work :)

[2022-01-06 20:37] TheFes commented on #2
Okay, I've had a look:

2)  2 of the 3 files in this zip seem to be quite old (dated 31st of december). In the other one there was nothing to resume according to the script.

3) Again two old files in the zip, in the other one nothing was playing according to the script.

6) The script did send the correct action to resume de `elandi` account on `media_player.wilken_speakers`, and the script ran w

[2022-01-06 21:30] johannwilken commented on #2
Hi Fes,

I'm really sorry. I don't know why there is older jdon files in the last
thread. I will have a look, what is weird is I saved the json files and
added to the thread as I was testing.

Waiting know at the airport, picking up the wife and kids.

Sorry again.

On Thu, 06 Jan 2022, 22:37 TheFes, ***@***.***> wrote:

[2022-01-07 07:46] TheFes commented on #2
No problem!

Say hi to them from me 😉
[code]

[2022-01-08 08:26] johannwilken commented on #2
Good morning Fes,

Lets try again, I double check times and took screenshots of the time of script runs (added in zip file).

Findings:
1. It looks like when having multiple media players added to the service call it only resume to the bottom media player in the list.
  Test 1-6: media_player.master-bedroom_speaker @ the bottom of the list.
  Test 10-13 and 14: media_player.kitchen_display @ the b

[2022-01-08 22:02] TheFes commented on #2
Hi,

The common thing in all the times the script did not resume, is that the script doesn't recognize there is something to resume at all.

Could you please try the following, replace this part (which determines the entities to resume) with the part below.
Basically the second code block splits the template into separate part, which will allow me to see what exactly goes wrong here. I also added

[2022-01-09 07:37] johannwilken commented on #2
Good morning Fes,

Replaced and tests conducted:

All test conducted with same results. Hopefully there is enough info in the jsons.

Multiple media players in config:
![Test 1 Service Call](https://user-images.githubusercontent.com/65971874/148673225-7c91463c-1041-4f6c-be84-5e8fd43becf6.JPG)

Test 1:
johann_wilken on master_bedroom_speaker - did resume 100%
[Test 1.zip](https://github.com/TheFes/

[2022-01-09 20:13] TheFes commented on #2
Well, that was helpful 👍  only needed one faulty test :wink: The separate variables really helped in determining in which part the error was.

Basically you were right, only the last player of the list was resumed, because the for loop I was using was overwriting the others (because of missing parentheses).

It should be fixed now if you use the latest version on Github.

[2022-01-09 20:17] johannwilken commented on #2
Hi Fes,

Thank you for your time. I will test tomorrow and let you know.

Hope you have a great week.

Regards.

On Sun, 09 Jan 2022, 22:14 TheFes, ***@***.***> wrote:

[2022-01-11 05:25] johannwilken commented on #2
Good morning Fes,

Now its working like a charm. Thank you so much for this script and the time you put in for it to
work. Please feel free to ask if in the future you need something tested, I would happily do so.

Hope you have a great week?

Kind regards,

[2022-01-11 09:05] TheFes commented on #2
My week is great, especially now since I can close this ticket 😉
Hope you have a great week as well!

Thanks for the confirmation!

[2022-01-11 09:05] #2 closed, assigned to nobody

[2022-03-31 08:06] TheFes opened #5 "Google Home Voice script interrupted too soon by Google Home Resume"
The Google Home Resume script interrupts the Google Home Voice script before it starts the TTS
Maybe add the same check as done in the perform resume script.

[2022-04-01 19:12] TheFes opened #6 "Mute tablet during night"

[2022-04-04 06:22] TheFes commented on #5
Solved

[2022-04-04 06:22] #5 closed, assigned to TheFes

[2022-04-04 06:44] TheFes commented on #6
Solved outside HA

[2022-04-04 06:44] #6 closed, assigned to TheFes

[2022-04-05 08:10] TheFes opened #7 "Test"
This is a test issue

[2022-04-05 08:11] TheFes commented on #7
Works

[2022-04-05 08:11] #7 closed, assigned to TheFes

[2022-04-05 11:52] TheFes opened #8 "Folder for switch to light not needed"
Folder for switch to light templates is placed in unneeded template folder, can be moved to root of light folder.

[2022-04-05 11:56] #8 closed, assigned to TheFes

[2022-04-05 12:00] TheFes opened #10 "New test"
Test for github

[2022-04-05 12:02] #10 closed, assigned to TheFes

[2022-04-05 12:04] TheFes opened #12 "Remove test.yaml"
Remove test.yaml which was created as test

[2022-04-05 12:21] #12 closed, assigned to TheFes

[2022-04-06 17:06] TheFes opened #15 "Add TTS support to Google Home Resume script"
Add induced TTS support and update to version 2.0

[2022-04-07 08:34] TheFes opened #16 "Change update notification to new update entity"

[2022-04-07 09:46] #16 closed, assigned to TheFes

[2022-04-07 14:27] TheFes commented on #15
Other changes:
* fixed_picture > radio_data
* default_volume_volume > default_restore_volume
* tts data added
* tts service added (add in docs how to use)

[2022-04-07 14:27] TheFes commented on #15
* additional script for tts to screen

[2022-04-08 09:19] #15 closed, assigned to TheFes

[2022-04-08 15:12] TheFes opened #19 "Icon house mode"
Wrong icon shown when nobody is home

[2022-04-08 22:52] Honest-Objections opened #20 "Single accounts not supported"
First off, HUGE thank you for taking the time to make this. It's been a pita having to restart music everytime so I find myself sitting in silence. I'm sure I'll enjoy using this even more than your kids.

First question, is there anyway this could be a python script? You must have had the patience of a saint writing the yaml, but I can't really follow it. If you know a way to make it a script I'd

[2022-04-08 22:56] Honest-Objections commented on #20
Having articulated it, I assume this may be an issue with `spotcast` being setup as a single user, rather than multiple users (given there is an option for `default_user`)

[code]

[2022-04-08 23:06] Honest-Objections commented on #20
Now working! The `accounts` key is indeed required. For any other users, this is the minimum required config for spotcast

[code]

[2022-04-09 06:58] TheFes commented on #20
Actually it isn't, it works without the `account` in the Spotcast setup.

You've masked the actual spotify media_player, but let's say it's: `media_player.spotify_honest_objections`

To make it work without the account in the Spotcast setup, you need to provide the correct `primary_spotcast` in the script setup. That's where this variable is used for.

For the media_player above, it should be
[cod

[2022-04-09 07:10] TheFes commented on #20
Regarding the python script, I don't have a programming background. All I know I learned using Home Assistant, so basically I can only write YAML and jinja.

While Jinja is quite similar to python I might look into that a bit further in the future, but I don't expect I will have much time on my hands in the coming years even.

[2022-04-09 08:52] TheFes opened #22 "Better handling of spotcast service call"
Always use spotcas service call without account when:
* There is only one Spotify integration (removing the need to provide `primary_spotcast`)
* No Spotify media_player matches the `primary_spotcast` provided. This avoids an incorrect service call when the service call uses an account which is not configured. Should be clearly explained in the docs though, because it will cause that the wrong acc

[2022-04-09 08:54] TheFes commented on #20
You did gave me some ideas to improve the single Spotify account setup, which I will implement when working on this issue:
https://github.com/TheFes/HA-configuration/issues/22

[2022-04-09 08:59] TheFes opened #23 "Better handling of service calls"
Split data and target in the script and move all targets provided to the target section

[2022-04-10 00:21] Honest-Objections commented on #20
Amazing! You're right of course, I was having other issues that didn't seem to produce much of a trace, so took all the variables out. Thanks again for sharing your hard work

[2022-04-10 00:21] #20 closed, assigned to nobody

[2022-04-10 12:56] TheFes opened #24 "Automate meeting mails"

[2022-04-16 20:55] TheFes opened #26 "Show ETA and direction of persons"

[2022-04-16 20:56] TheFes opened #27 "TV light doesn't turn on"

[2022-04-16 20:56] TheFes opened #28 "Google Home Floris doesn't stop in turning off the light"

[2022-04-16 20:58] TheFes commented on #22
Stoves

[2022-04-16 20:58] #22 closed, assigned to TheFes

[2022-04-16 20:58] #23 closed, assigned to TheFes

[2022-04-16 21:00] TheFes commented on #19
Solved by correcting entity_id

[2022-04-16 21:00] #19 closed, assigned to TheFes

[2022-04-18 06:34] TheFes opened #29 "Add option to cancel vacuum on notification"

[2022-04-19 13:22] #27 closed, assigned to TheFes

[2022-04-25 14:00] TheFes opened #31 "Updates Google Home Resume for 2022.5"
Update Google Home resume script with changes introduced in 2022.5

[2022-04-27 18:08] TheFes opened #32 "Fix HA update notification"

[2022-04-27 18:08] TheFes opened #33 "Fix song start with voice"

[2022-04-28 20:24] TheFes commented on #33
Isse was caused by target_conversion, which would not stop the ambient sound

[2022-04-28 20:24] #33 closed, assigned to nobody

[2022-04-28 20:25] TheFes commented on #28
Seems to be solved, but actions will change anyway

[2022-04-28 20:25] #28 closed, assigned to TheFes

[2022-05-02 11:44] TheFes opened #34 "Mobile Dashboard"

[2022-05-05 07:49] TheFes commented on #31
Closed

[2022-05-05 07:49] #31 closed, assigned to TheFes

[2022-05-08 18:43] TheFes opened #38 "Add triple click toggle to detached Shellies"
As failsafe to always be able to turn off the light

[2022-05-08 18:45] TheFes opened #39 "Add trend sensor for temperature for screens"
Change automations to lower screens in bedrooms based on temperature inside and rising temperature outside

[2022-05-09 18:03] #39 closed, assigned to nobody

[2022-05-09 18:03] #34 closed, assigned to TheFes

[2022-05-09 18:03] #38 closed, assigned to nobody

[2022-05-09 18:04] #32 closed, assigned to TheFes

[2022-05-13 21:00] TheFes opened #40 "Don't show cast devices when unavailable"
On 🍄 dashboard

[2022-05-16 07:19] #40 closed, assigned to TheFes

[2022-05-27 06:18] TheFes opened #41 "Add notification dismiss to alerts"

[2022-05-27 06:19] TheFes opened #42 "Fix light stairs toggle on dashboard"

[2022-05-27 20:29] TheFes opened #44 "Exclude phone location entities from recorder"

[2022-05-29 20:30] TheFes opened #45 "Hide Chromecast on dashboard en unavailable"

[2022-05-30 08:39] #42 closed, assigned to TheFes

[2022-05-30 08:39] #44 closed, assigned to nobody

[2022-05-30 08:39] #45 closed, assigned to nobody

[2022-05-30 18:16] #41 closed, assigned to nobody

[2022-06-16 09:17] besiktas97 opened #46 "Template warning/error"
Hey TheFes,

I am using your script for a while now and it still doing a very good job.
One thing that I see in my logs is the following:

Logger: homeassistant.helpers.template
Source: helpers/template.py:1850
First occurred: June 15, 2022, 23:22:00 (1 occurrences)
Last logged: June 15, 2022, 23:22:00

Template variable warning: 'players_screen' is undefined when rendering '{{ [] if not players_s

[2022-06-21 12:37] TheFes commented on #46
Sorry, I missed this post.
I will look into it, should be an easy fix!

[2022-06-21 12:46] TheFes commented on #46
Could you send me a trace of the script run from which you get this error?
I think you are on a older version, because I can't find this template mentioned in the current version.

[2022-06-21 13:15] besiktas97 commented on #46
No problem, everything is still working perfect ghehe.
When I say show trace, I get below:

alias: Set variables to be used in the script
variables:
  target_list: |
    {% if voice_tts_target is defined %}
      {{ [ voice_tts_target ] }}
    {% else %}
      {# determine entities of cast integraton #}
        {%- set devices = states | map(attribute='entity_id') | map('device_id') | unique | rej

[2022-06-21 18:33] TheFes commented on #46
Please download the trace using the download button in the top right corner, and drag the downloaded json to this text box in which you type your message here.

[2022-06-22 14:43] besiktas97 commented on #46
Well I cant drag and drop the json file, because Github says that they don't support a file type like that.
Is it enough if I copy and paste the info inside the file?

{
  "trace": {
    "last_step": "sequence/7/choose/0/conditions/0",
    "run_id": "2f5c2f610c1f067a2314d73d872bc482",
    "state": "stopped",
    "script_execution": "finished",
    "timestamp": {
      "start": "2022-06-22T11:48:00

[2022-06-22 20:34] TheFes commented on #46
Well, the version you are using is so old that there is no version number mentioned yet.
I added that in version 1.1.0 in February, the script is now on version 2.5.0

If you don't mind I will not spend time in debugging an error in a template which is not even used in the current version anymore.

You can update to the latest version (do note there have been some breaking changes, see the full ch

[2022-06-22 20:47] besiktas97 commented on #46
thank you thefes for your comment. Do I need to edit in the script every template where it says:

- condition: template
            value_template: '{{ screen_not_playing | count > 0 }}'

[2022-06-23 09:24] TheFes commented on #46
No, you need to replace:
`{{ [] if not players_screen else target_not_playing | select('in', players_screen) | list }}`
with:
`{{ target_not_playing | select('in', players_screen) | list if players_screen is defined and players_screen else [] }}`

Then `screen_not_playing` will be `[]` and `{{ screen_not_playing | count > 0 }}` will return `false`

[2022-07-04 09:20] #46 closed, assigned to nobody

[2022-07-13 13:46] marschallphilipp opened #48 "Google Home Resume script not working with Music Assistant!?"
Hi there,
I managed to resume media which I started via Spotcast (triggered through the "custom:spotify-card") but media is not resumed when playing media with the newly integrated Music Assitant.
Do you think your script can be changed in order to work with this integration?

Furthermore I noticed that on my Google minis the volume level is changed before the originally played media is completely

[2022-07-15 10:46] TheFes commented on #48
Hi,

I've had a look at Music Assistant, it seems it uses local media. I'm not using it myself, but I would expect it would work already, at least to resume the current song. But I will install it myself and look if I can get it working completely.

For the volume, I can try if I can prevent that. The problem is that with multiple targets it could be that they are never all idle at the same time,

[2022-07-15 10:47] TheFes commented on #48
Oh wait, looking better to Music Assistant now. Do you have this issue when you are playing Spotify through Music Assistant?

[2022-07-15 13:12] TheFes commented on #48
After gathering some more information, I think I can support Music Assistant in my script as well. I'll let you know when I have something to test

[2022-07-15 14:54] TheFes commented on #48
If you want you can test this version, which should work with Music Assistant
https://github.com/TheFes/HA-configuration/blob/TheFes/issue48/include/script/00_general/google_cast/google_home_resume.yaml

With regards to the volume, I remember now what the problem was. In the past I added a wait template which waited until the player was idle, and then changed the volume. However, in my own setup I

[2022-07-15 18:05] EmanueleGuidetti opened #50 "Google Nest Hub VS Google Home Mini !"
Hi,
my compliments for your great work!
I've tray a simple test implementation. This one:

  google_home_voice_test:
    alias: "Google Home Voice Test"
    icon: mdi:car
    sequence:
      - variables:
          message: "Ciao Ciao, ti sto rispondendo da Home Assistant solo qui"
      - alias: "TTS for speaker voice command"
        service: script.google_home_voice
        data:
          use_r

[2022-07-16 03:38] TheFes commented on #50
Could you send the trace of an occurrence when it didn't work? I probably need the race of the Google Home voice script and the Google Home resume script

[2022-07-21 04:57] TheFes opened #51 "Lights go on at night"
When Marleen takes phone from charger
Triggers house mode from sleeping to home.

[2022-07-21 12:49] #48 closed, assigned to TheFes

[2022-07-23 08:35] TheFes opened #52 "Delayed start dish washer"
Add option to add delayed start for dishwasher

[2022-08-09 18:56] #51 closed, assigned to nobody

[2022-08-09 18:56] #29 closed, assigned to TheFes

[2022-08-09 18:56] #24 closed, assigned to TheFes

[2022-08-10 13:46] joekaiser opened #54 "Resume after image is sent to displays"
Hey! I was able to get this working after just a few minutes of setup. Its great! Is there a way to have Resume work when I send an image to my google displays though?

I have a script that, when the doorbell is pressed, a picture of the visitor is taken and cast to the google displays throughout the house. After 30s the image is removed. What would be the proper way to configure this so your resu

[2022-08-10 18:16] TheFes commented on #54
Hi,
I've tested it myself. The problem is not that the automation does not trigger, because it does.
The problem is that casting an image to your Nest Hub doesn't change the state of the entity to `playing`, while it is showing the image, the state is `idle`. The Helper Script checks if the entity is playing and then waits until it is idle again to perform the resume.

The fact that the entity is

[2022-08-10 19:02] TheFes commented on #54
Okay, I might have found a workaround. The script will besides checking if the entity is playing, also check if there is a png or jpg/jpeg in the media_content_id. If so it will also perform te resume, but first wait 20 seconds.

This 20 second wait can be made configurable using a script variable

This also removes the need for the delay and turning off the entity in your script, this will be han

[2022-08-10 20:23] joekaiser commented on #54
I tried that new script (and made sure to update my variables) but I just get this error now.

[code]

[2022-08-10 22:12] joekaiser commented on #54
I rebooted my host and the problem is solved. (Note: I had tried restarting HASS several times and that didn't work)

Thanks for the tweak. This is so good. :)

[2022-08-11 00:49] joekaiser commented on #54
I take that back. It just started happening again 🤷  I'll see if I can figure it out.

[2022-08-11 05:40] TheFes commented on #54
It seems to be in the helper script, could you send me a trace of that script

[2022-08-11 06:48] TheFes commented on #54
Never mind, I think I fixed it now. Could you check v2.7.2b2 (same link as before)
The problem was I did not check if the attribute `media_content_id` existed before checking for an image extension in the attribute contents.

[2022-08-11 06:54] TheFes commented on #54
Added a variable `image_delay` in the script configuration, default setting if not set is 20 seconds, but you can use it to configure the delay which will be added before the resume in case an image is casted.

[2022-08-11 14:48] #52 closed, assigned to nobody

[2022-08-12 11:19] TheFes commented on #54
@joekaiser were you already able to test the new version? If everything works fine, I can merge it with the main branch.

[2022-08-12 13:16] joekaiser commented on #54
Sorry, I left for the weekend and won't be home until Sunday PDT. I'll give it a test as soon as I can.

[2022-08-12 13:47] TheFes commented on #54
Okay, no worries! Take your time!

[2022-08-13 08:31] TheFes opened #55 "Device tracker group for guests"
Add to guest person
Create person group for family members (back to old situation)
Change automations using state of zone now to use the groups above

[2022-08-15 16:29] joekaiser commented on #54
No, it isn't working but I think it is close.

Logs:
[code]

I used your latest script and I'm going through it now to check variables and wait format.

[2022-08-15 16:32] joekaiser commented on #54
My hunch is that this line `image_delay: "{{ image_delay if image_delay is defined and image_delay else 20 }}"` is using the default of `20` but the reference to that variable needs `seconds: 20`

[code]

[2022-08-15 16:44] joekaiser commented on #54
OK, yes hard coding the delay to `seconds: 20` on that line fixed the issue and the script works about 60% of the time. I'll share the logs here but I wouldn't be surprised if these were a symptom of my setup; not the script.

**(to be clear, it still works, these errors are just logged)**

[code]

[2022-08-15 20:09] TheFes commented on #54
Both
[code]
and
[code]
are valid, and both are a 20 second delay.
But I will have a second look.

Thanks for testing!

[2022-08-16 07:51] TheFes commented on #54
I added this line `image_delay: "{{ image_delay if image_delay is defined and image_delay else 20 }}"` on the wrong location. It was added for the Ytube Music Player resume, and it should have been added on another service call for the helper script. That is fixed now.

I think I also fixed the error in the log you posted above. Coud you please test 2.7.2b3 which I just uploaded. Same link again :

[2022-08-16 16:11] joekaiser commented on #54
It seems to be working 🙌  Thanks for all your help!

[2022-08-18 10:21] #54 closed, assigned to TheFes

[2022-08-20 09:17] TheFes opened #57 "BBQ notifications"
Add TTS and make phone notifications persistent

[2022-08-26 07:33] blindndangerous opened #58 "Unable to resume spotify with your scripts."
Hello,
I found your script for resuming spotify on the homeassistant forums.  I think I have everything set up correctly, though I'm getting an error from the google resume helper script and I can't figure out what I've done wrong.
00 - Google Home Resume - Helper Script: If at step 1: Resume needed?: Resume playing: Spotify?: Error executing script. Unexpected error for call_service at pos 2: 'No

[2022-08-27 19:01] TheFes commented on #58
I'm currently on holiday.
Are you on the most recent version of the script?

Could you provide a trace of both the main script and the helper script.

I will look into it when I'm back at home

[2022-08-29 08:08] TheFes opened #59 "Find my phone script"

[2022-09-05 07:06] TheFes commented on #58
@blindndangerous there were issues with Spotcast, so I'm assuming these also caused your issue.
There is a new version of Spotcast releases today.

As you did not reply, or provide a trace, I will close this issue now. If you still have issues after upgrading Spotcast, you can create a new issue. Please provide the traces then.

[2022-09-05 07:06] #58 closed, assigned to nobody

[2022-09-05 07:13] TheFes commented on #50
As I received no reply, I will close this issue.

[2022-09-05 07:13] #50 closed, assigned to TheFes

[2022-11-06 17:49] chicknlil opened #61 "Google Home Scripts resume issue"
Was not able to upload the .JSON file.  It is available [here](https://www.dpaste.org/LfQJA).

Please advise if I can provide you with anything further.

[2022-11-06 21:11] TheFes commented on #61
As I also replied on the forums:

Ah, I see it, that's an easy one to fix. Just add `group:` to your configuration.yaml (as also stated in the [General requirements](https://community.home-assistant.io/t/script-to-resume-google-cast-devices-after-they-have-been-interrupted-by-any-action/383896#general-4).

[2022-11-06 21:28] chicknlil commented on #61
Do I just add group?  or do I have to list the devices in the group?

[2022-11-06 21:47] TheFes commented on #61
Just add `group:`
Nothing else is needed. But without it you are not using the group integration, and therefore the `group.set` service I use in my script can not be found.

[2022-11-06 22:05] chicknlil commented on #61
Okay. Did that, and had one of the speakers running spotify (and unrelated, my bedroom TV running Hulu). Another automation announced an event, and based on what I can tell, yours only tried to resume my TV, not the speaker.  So I'm still doing something wrong somewhere...

[Here's the file](https://www.dpaste.org/A66G0), from the helper script. There was no trace from the other one.

[2022-11-07 06:58] TheFes commented on #61
It can not be the case that there is only a trace of the helper script, as the helper script is only started by the main script.

I do see that I need to build in some failsafe here, as it was not possible to resume the Hulu stream by the script.
The helper script is started separately per device, so for the other speaker it should have been another trace (you can navigate using the arrows)

[2022-11-07 12:34] chicknlil commented on #61
So I found the only remaining instance of the script running yesterday, when I had Spotify running. I may be an idiot (I wouldn't doubt it) but I could not see any trace in that main script, and I checked all the arrows. I'll no doubt be listening to music later today though, and my event announcement automations will run to interrupt it. So I'll try to catch a trace at that point.

Thing of it is

[2022-11-07 17:34] chicknlil commented on #61
Okay, it just interrupted Spotify, and Spotify didn't resume. And I've looked at every single Trace Timeline from that event, and they're all empty (from the main script) so I'm not sure what I'm missing here.

[Here's the main script](https://www.dpaste.org/bim1m) ...[Here's the helper script](https://www.dpaste.org/uRicF).

Getting frustrated by this.

[2022-11-07 17:52] TheFes commented on #61
I can see that there are some things not right here. It seems the data from the automation is not used correctly. The automation only mentioned `media_player.speakers` as target, but the script performed actions on other players as well.

I'll have to look into this, but that will probably not be before Saturday, as I don't have access to a computer before then.

[2022-11-07 21:31] chicknlil commented on #61
Okay. So it's not just me being an idiot? That's some relief.

That time I only had one device - my bedroom speaker - playing.

[2022-11-08 06:30] TheFes commented on #61
What is the service call for the announcement you are using, to which speakers is it targeted?

[2022-11-08 06:53] chicknlil commented on #61
`tts.cloud_say` is the service I use on all my automations that have an audio component, and the typical speaker target is `media_player.speakers`.

[2022-11-09 19:23] TheFes commented on #61
I meant the full service call code including the target receiving the tts

[2022-11-09 19:33] chicknlil commented on #61
Okay, I'm not sure I understand what you're looking for then. Where can I find this?

[2022-11-09 20:15] TheFes commented on #61
I meant something like:
[code]

So, while on my mobile, I had a look at the traces you sent.

It looks like you are sending a TTS to the `media_player.speakers`

In the script you defined that as a speaker group, with the following members:
- media_player.ben_s_bedroom_speaker
- media_player.kitchen_display
- media_player.mom_s_bedroom_clock
 - media_player.living_room_speaker

There are two other

[2022-11-09 21:32] chicknlil commented on #61
Ah, got it now.  Here's one:

[code]

In that particular instance, I had spotify playing on `media_player.ben_s_bedroom_speaker` ... so it definitely wasn't idle.  So perhaps that's the issue - it's correctly detecting that Spotify is playing, but not the state?  Is that something I did wrong?

[2022-11-09 21:52] TheFes commented on #61
No, I don't think you are doing something wrong.

The thing is that the automation is triggered when the TTS is already being sent to the device. So I suspect there is a timing issue here. Spotify is already being interrupted by the TTS message before the state can be stored by the automation.

The most reliable way to use the script is to call it directly instead of through the automation. In tha

[2022-11-09 23:06] chicknlil commented on #61
Got it.  Updated all the automations that have a TTS element.  I'm starting Spotify on the speaker group as soon as it loads, and I've got an event announcement coming in about 20 minutes.  I'll report back on how it goes!

[2022-11-09 23:26] chicknlil commented on #61
Nope,  Perhaps I set it up wrong.  This is the automation that just did the interrupting.  Should I perhaps add like a 1 second delay in there?

[code]

[2022-11-10 06:24] TheFes commented on #61
That's not what I proposed, the TTS action should be part of the script service call

[code]

[2022-11-10 11:30] chicknlil commented on #61
My apologies, I'd tried to implement it as you had it, and it had errored out, so I thought entering it the way I had was "working as intended". It let me paste that this time, and I've added that to all the automations.  As before, I've got Spotify playing on all the speakers, and the next Todoist announcement is in a bit over 10 minutes.  I'll report back.

[2022-11-10 11:44] chicknlil commented on #61
Unfortunately, it still didn't work. :(

[Here's the main script](https://www.dpaste.org/7APX3). [Here's the helper script](https://www.dpaste.org/GC9FS).

[2022-11-10 13:17] TheFes commented on #61
Did you install and configure spotcast? It's required to resume Spotify and according to the helper script the `spotcast.start` service was not found

[2022-11-10 15:24] chicknlil commented on #61
I downloaded it, but apparently didn't configure it. Told you I was an idiot!  I'm on my phone at the moment, but I have it 3/4ths of the way setup from here.  Will fix it the rest of the way from home and report back.

I'm sure once I do THAT, I'll have no more issues.

Sorry for being a pain in the ass.

[2022-11-10 18:27] chicknlil commented on #61
Yep.  Spotify playing on all speakers, announcement interrupted and after a short period of time, Spotify resumed.

Sorry for wasting so much of your time with my incompetence.  I do appreciate your patience, however.  I do believe I bought you a few beverages already,  so at least you got something out of it.

[2022-11-10 18:27] #61 closed, assigned to nobody

[2022-11-10 19:51] TheFes commented on #61
No problem, and good to hear you have it working now!

[2022-11-14 07:50] TheFes opened #62 "Fix volume restore"

[2022-11-16 08:39] TheFes commented on #61
@chicknlil
I just noticed (because the state triggered an automation lowering the volume) that I also have the speaker reporting as `idle` while it's playing on Spotify.

I don't know if this is something caused by Spotify specifically or something in the cast integration.

I think I will perform a resume when Spotify is mentioned as app and the player is idle

[2022-11-16 08:40] TheFes commented on #61
The player from the Spotify integration is reporting as playing, so I can use that as a check

[2022-11-16 15:18] chicknlil commented on #61
It works the vast majority of the time.  Every now and then it won't resume.  The one situation where it definitely doesn't resume (because I'm sure it doesn't know how to handle the situation) is when I get announcements back-to-back, probably before your script/automation has time to properly fire.

[2022-11-19 14:36] TheFes opened #63 "Adjust volume sync automation"
Check for state of group members instead of Google Home group

[2022-11-19 17:45] TheFes opened #64 "Turn on led strip in morning routine"
Play area to 100%
Limit led strip brightness to avoid blinking

[2022-11-21 17:13] #62 closed, assigned to TheFes

[2022-11-23 20:14] freijn opened #66 "google_home_resume.yaml missing?"
Hello,

very interested in your work but the file google_home_resume.yaml is missing.
It gives me an 404  :-(

https://github.com/TheFes/HA-configuration/blob/main/include/script/00_general/google_cast/google_home_resume.yaml

Google found it under :
https://github.com/TheFes/HA-configuration/blob/main/include/integrations/packages/google_cast/google_home_resume.yaml

[2022-11-23 21:00] TheFes commented on #66
That's the right one, made a lot of changes in the last days, and didn't change all links yet

More information can be found here:
https://github.com/TheFes/HA-configuration/blob/main/include/integrations/packages/google_cast/docs/google_home_resume.md

[2022-11-23 21:22] TheFes commented on #66
Links on this page are updated now. If you found the incorrect link on another page, please let me know
https://github.com/TheFes/HA-configuration/tree/main/include/script/00_general/google_cast

[2022-11-24 20:40] #66 closed, assigned to nobody

[2022-11-28 19:17] #64 closed, assigned to nobody

[2022-11-28 19:22] TheFes opened #67 "Google Home Resume 2022.12"
Update to 2022.12
Currently done:

Improvements
* removed `players_screen`, now using `device_class`
* added Voice and Event script to package (including template sensor)

Bug fixes:
* fix for automation triggering when groups is being resumed. Need to look at that again, might be better to add the members to the groups instead of fixing it in the automation

[2022-11-28 21:23] TheFes opened #69 "The Italian Job"

[2022-11-29 11:37] #63 closed, assigned to TheFes